<!DOCTYPE html>
<html>

<head>
    <title>Ma Carte Flask</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<body>
    <h1>Ma position</h1>
    <a href="/">Retour à l'accueil</a>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        // Coordonnées de Dunkerque par exemple : [51.034, 2.377]
        var map = L.map('map').setView([50.95375, 1.87925], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        L.marker([50.95375, 1.87925]).addTo(map)
            .bindPopup("FCU Côte d'Opale")
            .openPopup();
    </script>
</body>

</html>